h1 {
  text-align: center;
  margin-top: 10%;
}

.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 30%;
	min-width: 300px;
}

p {
  margin-top: 15%;
}

#text {
  margin-bottom: 10px;
  width: 100%;
  /* width: 400px; */
}

button {
  width: 150px;
}

#prediction {
  margin-top: 20px;
}

@media only screen and (min-width: 600px) {
  .container {
		width: 400px;
  }
}